@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html {
    background: #aaaaaa;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
}
.contenedor{
    margin: auto;
    padding: auto;
    height: 800px;
    width: 800px;
}

.color1{
    color: #1d9d9e;
}

.color2{
    color: #bedd42;
}

.color3{
    color: #ffffff;
    margin: 5px;
}

.color4{
    color: #b0b5c1;
}

.botonsito {
    background-color: #bedd42;
    border-radius: 5px;
    height: 3em;
    width: 15em;
    border: none;
    color:white;
    font-weight: 300;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: span 2; 
}
.primero{
    display: grid;
    grid-template-columns: 100%;
}

.cuadritoarriba{
    background-color: white;
    border-radius: 12px;
}


.cuadritoabajo{
    display: grid;
    grid-template-columns: 50% 50%;
}

.verdeagua{
    background-color: #02a29f;
    border-radius: 10px;
}

.component_greens-space{
    margin: 2.5em;
}

.precio{
    display: grid;
    background-color: transparent;
    grid-template-columns: 30% 30%;
    gap: -2px;
}

.precio h1,
.precio h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cajitaultima{
    background-color:  #23bebd;
    color: #75ddde;
    font-size: 0.89em;
    border-radius: 10px;
}

.cajitaultima h3{
    margin: 5px;
    margin-left: 2em;
    margin-top: 2.5rem;
}

.lista{
    background-color: transparent;
    list-style-type: none; 
}


@media screen and (max-width: 768px) {
    .primero{
        margin: auto;
        padding: auto;
        height: 300px;
        width: 300px;
    
    }


    .cuadritoabajo{
        display: grid;
        grid-template-columns: 100%
        
    }

    .attribution{
        display: none;
    }

}